<h2 mat-dialog-title>{{ data ? 'Modifier un contrat' : 'Créer un contrat' }}</h2>
<form [formGroup]="form" (ngSubmit)="save()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Entreprise</mat-label>
    <input matInput formControlName="company" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Réduction (%)</mat-label>
    <input matInput type="number" formControlName="reduction" required />
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      {{ data ? 'Modifier' : 'Créer' }}
    </button>
    <button mat-stroked-button color="warn" type="button" (click)="close()">Annuler</button>
  </div>
</form>
