<div class="customer-sale-container">
  <form class="customer-form" [formGroup]="stockForm" (ngSubmit)="updateStock()">
    <h2>Modification du stock</h2>

    <!-- Produit -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Produit / Consommable</mat-label>
      <mat-select formControlName="item" required (selectionChange)="onItemChange($event.value)">
        <mat-optgroup label="Produits">
          <mat-option *ngFor="let p of products" [value]="{ type: 'product', id: p.id }">
            {{ p.name }}
          </mat-option>
        </mat-optgroup>

        <mat-optgroup label="Consommables">
          <mat-option *ngFor="let c of consumables" [value]="{ type: 'consumable', id: c.id }">
            {{ c.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>



    <!-- Stock actuel -->
    @if (selectedProduct || selectedConsumable) {
      <p>
        <strong>Quantité actuelle :</strong>
        {{ selectedProduct?.stock ?? selectedConsumable?.quantity }}
      </p>
    }
    <!-- Quantité -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Quantité (+ pour ajout, - pour retrait)</mat-label>
      <input matInput type="number" formControlName="adjustment">
    </mat-form-field>

    <!-- Bouton -->
    <button mat-raised-button color="primary" type="submit" [disabled]="stockForm.invalid">
      Mettre à jour
    </button>
  </form>
</div>

<!-- Historique -->
<div class="history-container">
  <h2>Historique</h2>

  <!-- Filtre date -->
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="filterDate"
      (dateChange)="filterTransactions()"
      name="filterDate"
    >
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Tableau -->
  <table mat-table [dataSource]="filteredTransactions" class="mat-elevation-z8 custom-table">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let t">{{ t.date | date:'dd-MM-yyyy HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Objet</th>
      <td mat-cell *matCellDef="let t">
        {{ t.product?.name || t.consumable?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let t">{{ getMovementLabel(t.typeOfStockMovement) }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantité</th>
      <td mat-cell *matCellDef="let t">{{ t.quantityMouvement }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Utilisateur</th>
      <td mat-cell *matCellDef="let t">{{ t.user.username }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
