<div class="user-management-container">
  <h2>Liste des utilisateurs</h2>
  <div class="header-actions">
    <!-- Barre de recherche -->
    <mat-form-field class="search-input" appearance="outline" style="width: 300px; margin-bottom: 20px;">
      <mat-label>Rechercher un utilisateur</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Nom, prénom, username" />
    </mat-form-field>

    <button mat-stroked-button class="button" color="primary" (click)="openCreateUser()">Ajouter un utilisateur</button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 custom-table">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
      <td mat-cell *matCellDef="let u">{{ u.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let u">{{ u.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom d'utilisateur</th>
      <td mat-cell *matCellDef="let u">{{ u.username }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Téléphone</th>
      <td mat-cell *matCellDef="let u">{{ u.phone || 'aucun' }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let u">{{ u.role.name }}</td>
    </ng-container>

    <ng-container matColumnDef="identityCard">
      <th mat-header-cell *matHeaderCellDef>Carte d'identité</th>
      <td mat-cell *matCellDef="let u">
        @if (u.identityCardImage) {
        <a [href]="'/api/uploads/' + u.identityCardImage" target="_blank">
          Voir la carte
        </a>
        } @else {
          <span>Pas de carte</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="dateOfHire">
      <th mat-header-cell *matHeaderCellDef>Date d'embauche</th>
      <td mat-cell *matCellDef="let u">
        {{ u.dateOfHire ? (u.dateOfHire | date:'dd/MM/yyyy') : 'Non renseignée' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let u">
        <button mat-stroked-button color="primary" (click)="editUser(u)">Modifier</button>
        <button mat-stroked-button color="warn" class="delete-btn" (click)="deleteUser(u.id)">Supprimer</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
