<div class="change-password-container">
  <form class="password-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <h2>Changer mon mot de passe</h2>

    <!-- Nouveau mot de passe -->
    <mat-form-field appearance="outline">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="password" required>
      @if (passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched) {
      <mat-error>
        Mot de passe requis (min. 8 caractères)
      </mat-error>
      }
    </mat-form-field>

    <!-- Confirmation -->
    <mat-form-field appearance="outline">
      <mat-label>Confirmer le mot de passe</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required>
      @if (passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched) {
      <mat-error>
        Confirmation requise
      </mat-error>
      }
      @if (passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched) {
      <mat-error>
        Les mots de passe ne correspondent pas
      </mat-error>
      }
    </mat-form-field>

    <!-- Bouton -->
    <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">
      Mettre à jour
    </button>
  </form>
</div>
