@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* --- Reset Global --- */
html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Main Layout --- */
.main-content {
  margin-left: 250px; /* Décalage pour la sidebar */
  padding: 20px;
  background-color: #fff;
  min-height: 100vh;
}

/* --- Mobile Responsiveness --- */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}

.layout {
  display: flex;
  height: 100vh; // prend toute la hauteur de l'écran
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;       // largeur sidebar
  height: 100%;
  background-color: #004d40;
  z-index: 1000;      // reste au-dessus
}

.content {
  margin-left: 250px; // décale le contenu à droite
  padding: 20px;
  flex: 1;            // prend tout l’espace restant
  overflow-y: auto;   // si beaucoup de contenu, scroll interne
}

